[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete
[submodule ".vim/bundle/mako"]
	path = .vim/bundle/mako
	url = https://github.com/sophacles/vim-bundle-mako
